<app-navigation title='Home'></app-navigation>

<div class='home-container'>
  <div class='content-container'>
    <img src="https://media3.giphy.com/media/vavktvjcvLB1blh5HV/giphy.gif?cid=ecf05e47wv013jji1msphny212pm1dlu9zr550sx9k8tq9c2&rid=giphy.gif&ct=g" alt="animate" />
    <div class='text-container'>
      <h1>Home Info</h1>
      <hr>
        <h1>Welcome!</h1>
        <br>
        <pre>
            Hi i'm Danimar Yanuario and this is my Personal Portfolio.
        </pre>
        <pre>
            you can just click the Menu icon on the top left side to see more.
        </pre>
  </div>
</div>